
<section>
  <h3>ABOUT MYSELF</h3>
  <div class="face-lockup">
    <div class="face-img"> </div>
    <div class="icon-pencil"></div>
    <div class="icon-mouse"></div>
    <div class="icon-browser"></div>
    <div class="icon-video"></div>
  </div>
  {% include about-text.html %}
  <h3>MY SkILLS</h3>
  <div class="skill-lockup">
    <div class="skill-unit">
      <div class="skill-label">Comunication</div>
      <div class="skill-icons skill-7"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icons skill-6"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icons skill-10"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icons skill-7"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Planning</div>
      <div class="skill-icons skill-8"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Visual Design</div>
      <div class="skill-icons skill-7"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Ux Design</div>
      <div class="skill-icons skill-8"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Programing</div>
      <div class="skill-icons skill-8"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
  </div>
</section>