section
	h3 ABOUT MYSELF

	.face-lockup
		.face-img 
		.icon-pencil
		.icon-mouse
		.icon-browser
		.icon-video

	h3 MY SkILLS

	.skill-lockup
		.skill-unit
			.skill-label Comunication
			.skill-icons.skill-7
				span
				span
				span
				span
				span
				span
				span
				span
				span
				span

		.skill-unit
				.skill-label Organization
				.skill-icons.skill-6
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-unit
				.skill-label Learning
				.skill-icons.skill-10
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-unit
				.skill-label Teaching
				.skill-icons.skill-7
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-unit
				.skill-label Planning
				.skill-icons.skill-8
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-unit
				.skill-label Visual Design
				.skill-icons.skill-7
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-unit
				.skill-label Ux Design
				.skill-icons.skill-8
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-unit
				.skill-label Programing
				.skill-icons.skill-8
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span
