footer
	.locup
		.logo
			{% include icons/logo.html %}
		.footer-content-wrapper
			nav 
			a(href="#") QUEM SOU EU?
			a(href="#") PROJETOS
			a(href="#") CLIENTES
			a(href="#") CONTATO

			p.copyright All content copyright 2015