header
	.logo
		{% include icons/logo.html %}
	nav 
		a(href="#") QUEM SOU EU?
		a(href="#") PROJETOS
		a(href="#") CLIENTES
		a(href="#") CONTATO
	
	h1 
		span WASHINGTON FERREIRA
	p.kicker WEB DESIGN // DEVELOPER