
h2#about-me 
	span ABOUT ME

.photo-wrapper
	.photo

.description

	p.
		 Seeing necktie knots laid out side-by-side is the fastest way to grasp how they differ from one another. In order to play fair, we tied each knot using neckties of the same material, thickness and width (3 ½ inches). We also made sure to photograph them to scale. This way you can appreciate the unique characteristics of each knot and discern the differences between them.

		Of the knots we tied, the smallest is the Simple knot, sometimes known as the Oriental. If there is a way to tie a necktie smaller we haven't found it. The monstrous Balthus knot is the largest of the knots we tied but in theory you could make a knot even larger if you had a long enough necktie. Take note of the overall shape of each knot. The Windsor is almost a perfect triangle. The Four-in-Hand is much more narrow. The Prince Albert has a second fold that peeks out at the bottom. Some knots, like the Kelvin and Four-in-Hand lean noticeably to one side. The Trinity delivers a rounded silhouette while the Van Wijk is cylindrical and the longest of the knots. 



.skill-lockup
	h2
		span MY SKILLS
	.skill-unit
		.skill-label Comunication
		.skill-icon.sk-7
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span

	.skill-unit
		.skill-label Organization
		.skill-icon.sk-5
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span

	.skill-unit
		.skill-label Learning
		.skill-icon.sk-8
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span

	.skill-unit
		.skill-label Teaching
		.skill-icon.sk-6
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span

	.skill-unit
		.skill-label Planning
		.skill-icon.sk-7
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span

	.skill-unit
		.skill-label Visual Design
		.skill-icon.sk-6
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span

	.skill-unit
		.skill-label Ux Design
		.skill-icon.sk-7
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span

	.skill-unit
		.skill-label Programing
		.skill-icon.sk-7
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span


