.social-wrapper#contacts
	ul
		li
			a(href="http://www.facebook.com.br/thewazig" target="_blank") 
				span
			a(href="#") 
				span
			a(href="#")
				span
			a(href="#")
				span
			a(href="#")
				span

	h1 thewazig.wf@gmail.com

.contact-wrapper
	h2 LETS WORK TOGETHER

	form(id="", method="", action="")
		label(for="nome") 
			h3 Name: 
			input(type="text", placeholder="Name" id="nome" name="name")
		label(for="email") 
			h3 Email: 
			input(type="text", placeholder="Email" id="email" name="email")

		label(for="textarea") 
			h3 Message:
			textarea(id="textarea")

		input(id="button" type="submit" name="submit" value="OK" )

