.footer-logo
	include ../img/logo.html
.footer-content
	nav
		a(href="#about-me ") ABOUT ME
		a(href="#projects") PROJECTS
		a(href="#clients") CLIENTS
		a(href="#contacts") CONTACT


	p COPIRIGHT 2015 © All right reserved to the owner of this site. BITCH