.header-logo
	include ../img/logo.html
nav
	a(href="#about-me ") ABOUT ME
	a(href="#projects") PROJECTS
	a(href="#clients") CLIENTS
	a(href="#contacts") CONTACT

h1
	span WASHINGTON FERREIRA

p.kicker WEB DESIGN || WEB DEVELOPER